<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Exercises</title>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Play&display=swap">
</head>
<body>
    <div class="content">
        <!-- Template 1 -->
        {{range .PhonologicRhymePair}}
        <div class="phonologic-rhyme-pair template">
            {{$question := .Question}}
            <h1>{{.Question}}</h1>
            {{range $index, $pairItem := .PhonologicRhymePairItems}}
            {{if eq $index 0}}
            <div class="phonologic-rhyme-pair-item i_{{$index}}" style="animation: 0.6s ease 0s 1 normal forwards running slideInFromRight; display: block;">
            {{else}}
            <div class="phonologic-rhyme-pair-item i_{{$index}}" style="animation: 0.6s ease 0s 1 normal forwards running slideOutToLeft; display: none;">
            {{end}}
                {{range $pairItem.Words}}
                <div class="speak-word" onclick="speak('{{.}}')">{{.}}</div>
                {{end}}
                <div class="phonologic-rhyme-pair-answer">
                    <button onclick="nextQuestion('.phonologic-rhyme-pair-item') ; storeAnswer(this, '.phonologic-rhyme-pair-item', '{{$question}}', '{{$index}}')">Ναι</button>
                    <button onclick="nextQuestion('.phonologic-rhyme-pair-item') ; storeAnswer(this, '.phonologic-rhyme-pair-item', '{{$question}}', '{{$index}}')">Όχι</button>
                </div>
            </div>
            {{end}}
        </div>
        {{end}}

        <!-- Template 2 -->
        {{range $templateIndex, $_ := .PhonologicRhymeMatch}}
        <div class="phonologic-rhyme-match template">
            {{$question := .Question}}
            <h1>{{.Question}}</h1>
            {{range $index, $_ := .PhonologicRhymeMatchItems}}
            {{if eq $index 0}}
            <div class="phonologic-rhyme-match-item t_{{$templateIndex}} i_{{$index}}" style="animation: 0.6s ease 0s 1 normal forwards running slideInFromRight; display: block;">
            {{else}}
            <div class="phonologic-rhyme-match-item t_{{$templateIndex}} i_{{$index}}" style="animation: 0.6s ease 0s 1 normal forwards running slideOutToLeft; display: none;">
            {{end}}
                <div class="speak-word main-match" onclick="speak('{{.Word}}')">{{.Word}}</div>
                <div class="phonologic-rhyme-match-answers">
                {{range .Answers}}
                    <div class="speak-word" onclick="speak('{{.}}'); selectAnswer(this);">{{.}}</div>
                {{end}}
                </div>
                <button class="nextButton" onclick="nextQuestion('.phonologic-rhyme-match-item.t_{{$templateIndex}}') ; storeAnswer(this, '.phonologic-rhyme-match-item.t_{{$templateIndex}}', '{{$question}}', '{{$index}}')">Επόμενο</button>
            </div>
            {{end}}
        </div>
        {{end}}
        
        <!-- Template 3 -->
        {{range $templateIndex, $_ := .PhonologicRhymeMultipleMatch}}
        <div class="phonologic-rhyme-multiple-match template">
            {{$question := .Question}}
            <h1>{{.Question}}</h1>
            <div class="phonologic-rhyme-multiple-match t_{{$templateIndex}} i_0">
                <div id = "phonologic-rhyme-multiple-match-column-column1" class="phonologic-rhyme-multiple-match-column">
                {{range .Column1}}
                    <div class="dropzone">
                        <div class="speak-word" onclick="speak('{{.}}')">{{.}}</div>
                    </div>
                {{end}}
                </div>
                <div id = "phonologic-rhyme-multiple-match-column-column2" class="phonologic-rhyme-multiple-match-column t_{{$templateIndex}}">
                {{range $index, $_ := .Column2}}
                    <div id="match-{{$index}}" class="speak-word" draggable="true" ondragstart="drag(event)" onclick="speak('{{.}}')">{{.}}</div>
                {{end}}
                </div>
            </div>
            <button class="nextButton" onclick="nextQuestion('.phonologic-rhyme-multiple-match.t_{{$templateIndex}}') ; storeAnswersPairs('.phonologic-rhyme-multiple-match.t_{{$templateIndex}}', '{{$question}}')">Επόμενο</button>
        </div>
        {{end}}
        
        <!-- Template 4 -->
        {{range $templateIndex, $_ := .PhonologicRhymeSentence}}
        <div class="phonologic-rhyme-sentence template">
            {{$question := .Question}}
            <h1>{{.Question}}</h1>
            {{range $index, $_ := .PhonologicRhymeSentenceItems}}
                {{if eq $index 0}}
                <div class="phonologic-rhyme-sentence-item i_{{$index}}" style="animation: 0.6s ease 0s 1 normal forwards running slideInFromRight; display: block;">
                {{else}}
                <div class="phonologic-rhyme-sentence-item i_{{$index}}" style="animation: 0.6s ease 0s 1 normal forwards running slideOutToLeft; display: none;">
                {{end}}
                <div class="speak-word main-sentence" onclick="speak('{{.Sentence}}')">{{.Sentence}}</div>
                <div class="phonologic-rhyme-sentence-answers">
                    <div class="phonologic-rhyme-sentence-answers"></div>
                {{range .Answers}}
                    <div class="speak-word" onclick="speak('{{.}}'); selectAnswer(this);">{{.}}</div>
                {{end}}
                </div>
                {{if eq $index 6}}
                <button class="submitButton" onclick="storeAnswer(this, '.phonologic-rhyme-sentence-item', '{{$question}}', '{{$index}}') ; submitAnswers('.PhonologicRhymeSentenceItems')">Υποβολή</button>
                {{else}}
                    <button class="nextButton" onclick="nextQuestion('.phonologic-rhyme-sentence-item') ; storeAnswer(this, '.phonologic-rhyme-sentence-item', '{{$question}}', '{{$index}}')">Επόμενο</button>
                {{end}}
            </div>
            {{end}}
        </div>
        {{end}}
    
        <!-- Template 5 -->
        {{range .DecodingTextReading}}
        <div class="decoding-text-reading template">
            {{$question := .FirstQuestion}}
            <h1>{{.FirstQuestion}}</h1>
            <div class="decoding-text-reading-textdata">
                <pre>{{.TextData}}</pre>
            </div>
            <button class="nextButton-textreading" onclick="nextQuestion('.decoding-text-reading-textdata')">Επόμενο</button>
        </div>
        {{end}}

        <!-- Template 6 -->
        {{range .DecodingTextReading}}
        <div class="decoding-text-reading template">
            {{$question := .SecondQuestion}}
            <h1>{{.SecondQuestion}}</h1>
            <div class="decoding-text-reading-redwords">
                {{range .RedWords}}
                    <div class="decoding-text-reading-redwords-word">{{.}}</div>
                {{end}}
            </div>
            <button class="nextButton-textreading" onclick="nextQuestion('.decoding-text-reading-textdata')">Επόμενο</button>
        </div>
    {{end}}
    
    </div> <!-- content -->
    <div id="output"></div>
    
</body>
</html>
<script src="/assets/js/main.js"></script>